
.Cacke {
    margin-left: 20%;
}
.box {
    background-color: rgb(110, 202, 241);
    width: 60%;
    font-size: 22px;
  }
  
.p {
    padding-left: 40px;
    padding-top: 40px;
}
.linka {
    font-size: 32px;
    font-weight: bold;
}
.linka1 {
    font-size: 22px;
    background-color: rgb(139, 215, 165)
}
body {
    background-color: rgb(114, 143, 143);
}
.imagesVR {
    max-width: 600px;
}